.advantage-list {
  padding: 100px 0;
  counter-reset: list-counter 0;
}
.advantage {
  width: 900px;
  margin: 0 auto 100px;
}
.advantage:nth-of-type(even) .topic{
  margin-left: auto;
}
.advantage:nth-of-type(even) .topic h2::before {
  order: 1;
}
.advantage:nth-of-type(even) .pic{
  margin-left: 0;
}
.advantage:nth-of-type(even) .innovation-list {
  margin-left: auto;
}
.advantage:nth-of-type(even) .pic .icon-youtube {
  left: 0;
  transform: translate(-20%, -50%);
}
.advantage .topic {
  width: 300px;
  color: #fff;
  position: relative;
}
.advantage .topic h2 {
  font-size: 48px;
  background-color: #bb0404;
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
}
.advantage .topic h2::before {
  content: "0" counter(list-counter);
  counter-increment: list-counter 1;
  display: inline-block;
  color: #fff;
  writing-mode: vertical-rl;
}
.advantage .topic>div {
  padding: 10px 10px 20px 10px;
  background-color: #000;
  position: absolute;
  z-index: 1;
}
.advantage .topic>div h3 {
  font-size: 24px;
  margin-bottom: 4px;
}
.advantage .topic>div p {
  line-height: 1.5;
}
.advantage .pic {
  display: block;
  margin-left: 150px;
  margin-bottom: -35px;
  position: relative;
  width: fit-content;
}
.advantage .pic .icon-youtube {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(20%, -50%);
}
.advantage .pic .bg-gray {
  background-color: #eeeeee;
  width: 400px;
  height: 250px;
  position: absolute;
  top: -50px;
  right: -50px;
  z-index: -1;
}
.advantage .innovation-list {
  background-color: #eeeeee;
  padding: 20px;
  width: 700px;
  margin-left: 30px;
  position: relative;
}
.advantage .innovation-list>div {
  color: #bb0404;
  display: flex;
  align-items: center;
}
.advantage .innovation-list>div p {
  flex-shrink: 0;
  padding-right: 12px;
}
.advantage .innovation-list>div span {
  background-color: #bb0404;
  width: 100%;
  height: 2px;
  flex-grow: 1;
}
.advantage .innovation-list>ul li {
  margin-top: 4px;
}
.advantage .innovation-list>ul li h4 {
  color: #fff;
  background-color: #000;
  width: fit-content;
  padding: 4px;
  margin-bottom: 4px;
}
.advantage .innovation-list>ul li p {
  padding-left: 1em;
  position: relative;
}
.advantage .innovation-list>ul li p::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #bb0404;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}